<%= render "teams/sidebar" %>
<div class="row chat">
  <div class="col m10 offset-m1 l10 offset-l2 s12">
    <div class="row channel_name_box">
      <p class="chat_name"></p>
    </div>
    <div class="row">
      <div class="messages">
        <!-- Here come the messages injected by coffee -->
      </div>
    </div>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">mode_edit</i>
            <textarea class="materialize-textarea new_message"></textarea>
            <label for="icon_prefix2">Send a Message...</label>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>